<!doctype html>
<html>
    <head>
    </head>
    <body> 
        <form action="/madlib">
            First Name: <input type="text" name="name"> <br><br>
            Color: <input type="text" name="color"> <br><br>
            Noun: <input type="text" name="noun"> <br><br>
            Adjective: <input type="text" name="adjective"> <br><br>
            Place: 
            <select name="place"> 
                <option value="paris">Paris</option>
                <option value="modesto">Modesto</option>
                <option value="eugene">Eugene</option>
                <option value="jersey shore">Jersey Shore</option>
            </select>
            <br> <br>
            <input type="submit">
        </form>

        

    </body>
</html>